@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}
.header {
    position: fixed;
    z-index: 10;
    background: radial-gradient(circle at center, white, lightblue);
    height: 55px;
    top: 0;
    width: 100vw;
}

.buttons{
    font-family: "Sour gummy";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding:10px;
    transform: 0.2s;
}

.buttons a {
    color: black;
    margin-right: 50px;
    cursor: pointer;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
    text-decoration-color: blueviolet;
    scale: 1.3;
}
iframe {
    max-width: 100vw;
    margin: -10;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.overlay {
    position: absolute;
    z-index: 2;
    height: 350vh;
    width: 60vw;
    background: linear-gradient(to right, rgb(255,255,255, 1), rgb(255,255,255, 1),rgb(255,255,255,0.6), rgb(255,255,255,0));
}

.hi {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    position: absolute;
    z-index: 3;
    margin-top: 120px;
    margin-left: 20px;
}
.carousel {
    position:absolute;
    z-index: 3;
    width: 384px;
    overflow-x:auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    border-radius: 5%;
    margin-top: 200px;
    margin-left: 20px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right) {
    position: absolute;
    z-index: 3;
    width: 100px;
    height: auto;
    content: 'Next Year';
    border: none;
    color: blue;
    cursor: pointer;
    border-radius: 10%;
    align-items: center;
    margin-top: 650px;
    margin-left: 220px;
}

.carousel::scroll-button(left) {
    position: absolute;
    z-index: 3;
    width:100px;
    height: auto;
    content: 'Previous Year';
    border: none;
    color: Blue;
    cursor: pointer;
    border-radius: 10%;
    align-items: center;
    margin-top: 650px;
    margin-left: 30px;
}

.carousel.carousel::scroll-button(left):disabled {
    color: red;
}
.carousel.carousel::scroll-button(right):disabled {
    color: red;
}


.card {
    flex: 0  0 20em;
    height: auto;
    width: 200px;;
    width: auto;
    padding: 1em;
}

.myinfo {
    position: absolute;
    z-index: 3;
    width: 350px;
    margin-top: 700px;
    margin-left:20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

.myinfo img {
    position:relative;
    z-index: 3;
    width: 350px;
    height: auto;
    margin-bottom: 15px;
}