@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

video {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    object-fit: cover;
}

.header {
    position: fixed;
    z-index: 2;
    background: radial-gradient(circle at center, white, rgb(59, 66, 74));
    height: 55px;
    top: 0;
    width: 100vw;
}

.buttons{
    font-family: "Sour gummy";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding:10px;
    transform: 0.2s;
}

.buttons a {
    color: black;
    margin-right: 50px;
    cursor: pointer;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
    text-decoration-color: blueviolet;
    scale: 1.3;
}

.background {
    width: 100vw;
    height: 100vh;
    display: fixed;
}

.titleinfo {
    z-index: 1;
    top: 55px;
    position: fixed;
    font-size: 60px;
    font-family: "Sour gummy";
    background: linear-gradient(to right, rgb(255,255,255, 1), rgb(255,255,255,1));
    width: 100vw;
    text-align: center;
    text-decoration: underline;
}

.first-info {
    display: block;
    font-family: "Sour Gummy";
    z-index: 1;
    top: 200px;
    position: absolute;
    margin-bottom: 50px;
    width: 40vw;
    text-align: center;
    left:50px;
    background: linear-gradient(to right, rgb(255,255,255, 0.9), rgb(255,255,255,0.9));
    padding: 20px;
}

.second-info {
    display: block;
    font-family: "Sour Gummy";
    z-index: 1;
    top: 200px;
    position: absolute;
    margin-bottom: 50px;
    width: 40vw;
    text-align: center;
    right: 50px;
    background: linear-gradient(to right, rgb(255,255,255, 0.9), rgb(255,255,255,0.9));
    padding: 20px;
}

.third-info {
    display: block;
    font-family: "Sour Gummy";
    z-index: 1;
    top: 650px;
    position: absolute;
    margin-bottom: 50px;
    width: 22vw;
    text-align: center;
    left: 50px;
    background: linear-gradient(to right, rgb(255,255,255, 0.9), rgb(255,255,255,0.9));
    padding: 20px;
}

.third-info img {
    width: 22vw;
    height: auto;
}

.sources {
    font-size: 12px;
}