body {
    padding: 0;
    margin: 0;
}

.header {
    background: linear-gradient(to right, rgb(167, 29, 29), rgb(180, 87, 12), rgb(85, 2, 2));
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 50px;
}

.wilbur-button {
    height: 50px;
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    transform: (0.3s);
    cursor: pointer;
    align-items: center;
    margin-top: 60px;
    box-shadow: 5px 5px 15px black;
}

.wilbur-button:active {
    box-shadow: 0px 0px 0px black;
}

.homebutton {
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    transform: (0.3s);
    cursor: pointer;
    margin-right: 50px; 
}

.page-buttons {
    align-items: right;
}

.aboutme {
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    transform: (0.3s);
    cursor: pointer;
    margin-left: 50px;
    background-color: lightgreen;
    
}

.catholic {
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    transform: (0.3s);
    cursor: pointer;
    margin-left: 50px;
    background-color: orange;
}

.future {
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    transform: (0.3s);
    cursor: pointer;
    margin-left: 50px;
    background-color: red;
}

a:link {
    color: black;
}

img {
    height: 500px;
    width: 250px;
}