body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.mos.cms.futurecdn.net/FB9UEycVmBN7Ye5XKMoB2b.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.header {
    position: fixed;
    z-index: 2;
    background: radial-gradient(circle at center, white, rgb(59, 66, 74));
    height: 100px;
    top: 0;
    width: 100vw;
}

.header h1 {
    margin: auto;
    text-align: center;
    font-size:50px;
    text-decoration: underline;
    padding-top:5px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding:10px;
}

.buttons a {
    color: black;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.background {
    width: 100vw;
    height: 100vh;
    display: fixed;
}

.info {
    z-index: 1;
    top: 180px;
    position: absolute;
    background: linear-gradient(to right, rgb(255,255,255, 0.6), rgb(255,255,255,0.6));
    width: 100vw;
    text-align: center;
}

.paragraph-1 {
    z-index: 1;
    top: 300px;
    position: absolute;
    background: linear-gradient(to right, rgb(255,255,255, 0.6), rgb(255,255,255,0.6));
    width: 65vw;
    padding-left: 20px;
}

.paragraph-2 {
    z-index: 1;
    top: 450px;
    position: absolute;
    background: linear-gradient(to right, rgb(255,255,255, 0.6), rgb(255,255,255,0.6));
    width: 60vw;
    padding-left: 20px;
}


