.carousel {
    position:absolute;
    z-index: 3;
    width: 400px;
    overflow-x:auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    border-radius: 5%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right) {
    position: absolute;
    z-index: 3;
    width: 100px;
    height: auto;
    content: 'Next Year';
    border: none;
    color: orange;
    cursor: pointer;
    border-radius: 10%;
    align-items: center;
    margin-top: 400px;
}

.carousel::scroll-button(left) {
    position: absolute;
    z-index: 3;
    width:100px;
    height: auto;
    content: 'Previous Year';
    border: none;
    color: orange;
    cursor: pointer;
    border-radius: 10%;
    align-items: center;
    margin-top: 400px;

}


.card {
    flex: 0  0 20em;
    height: auto;
    width: 200px;;
    width: auto;
    padding: 1em;
}