@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.background-img {
    size: cover;
    position: fixed;
    z-index: 1;
}
.header {
    position: fixed;
    z-index: 3;
    background: radial-gradient(circle at center, white, lightgreen);
    height: 55px;
    top: 0;
    width: 100vw;
}

.buttons{
    font-family: "Sour gummy";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding:10px;
    transform: 0.2s;
}

.buttons a {
    color: black;
    margin-right: 50px;
    cursor: pointer;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
    text-decoration-color: blueviolet;
    scale: 1.3;
}

.past-heading {
    text-align: center;
    position: fixed;
    z-index: 3;
    font-size: 60px;
    font-family: "Sour gummy";
    width: 100vw;
    padding:10px;
    top: 55px;
    background: linear-gradient(to right, rgb(255,255,255, 0.9), rgb(255,255,255,0.9));
}

.past-info {
    text-align: center;
    position: absolute;
    z-index: 2;
    font-size: 30px;
    font-family: "Sour gummy";
    max-width: 100vw;
    top: 800px;
    background: linear-gradient(to right, rgb(255,255,255, 0.7), rgb(255,255,255,0.7));
    padding: 50px;
    box-sizing: border-box;
}

.past-info h3{
    margin-bottom: 70px;
}